[user]
	name = YOUR_NAME
	email = YOUR_EMAIL

[pull]
	rebase = true

[core]
	pager = delta
	excludesfile = ~/.gitignore_global

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	dark = true
	side-by-side = true
	line-numbers = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
